.gameover, .gamestart {
	font-size: 75px;
	text-align: center;	
	line-height: 125px;
	position: absolute;
	/*top: 100;*/
	z-index: 100;
	display: none;
}

/* Reset */
div.number_container * {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #ccc;
}

div.number_container ul {
	list-style: none
}

.number_container {
	text-align: center;
	/*position: absolute;*/
	left: 45%;
	top: 50%;
	width: 280px;
	height: 90px;
	/*margin: -45px 0 0 -70px;*/
}

/* Skeleton */

ul.flip {
	position: relative;
	float: left;
	margin: 5px;
	width: 60px;
	height: 90px;
	font-size: 80px;
	font-weight: bold;
	line-height: 87px;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
}

ul.flip li {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 87px;
	font-family: arial, helvetica, san-serif;
}

ul.flip li a {
	display: block;
	height: 100%;
	perspective: 200px;
}

ul.flip li a div {
	z-index: 1;
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

ul.flip li a div .shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

ul.flip li a div.up {
	transform-origin: 50% 100%;
	top: 0;
}

ul.flip li a div.up:after {
  content: "";
  position:absolute;
  top:44px;
  left:0;
  z-index: 5;
	width: 100%;
  height: 3px;
  background-color: rgba(0,0,0,.4);
}

ul.flip li a div.down {
	transform-origin: 50% 0%;
	bottom: 0;
}

ul.flip li a div div.inn {
	position: absolute;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 200%;
	color: #ccc;
	text-shadow: 0 1px 2px #000;
	text-align: center;
	background-color: #333;
	border-radius: 6px;
}

ul.flip li a div.up div.inn {
	top: 0;

}

ul.flip li a div.down div.inn {
	bottom: 0;
}
